#form_add{
  align-items: center;
  padding-left: 270px;
  padding-top: 10px;
}

#btn_add{
  padding-left: 100px;
}

#title{
  padding-left: 55px;
  padding-bottom: 10px;
}

#column_status{

  padding-left: 500px;

}
